*.ap_
*.apk
*.bat
*.class
*.dex
*.ear
*.iml
*.ipr
*.iws
*.jar
*.jobf
*.log
*.swp
*.war
*~
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
._*
.classpath
.cproject
.cxx
.externalNativeBuild
.gradle/
.idea/
.idea_modules/
.mtj.tmp/
.navigation/
.project
.settings/
.signing/
/*/*/build
/*/*/production
/*/build/
/*/local.properties
/*/out
/app/build
/build
/captures
/local.properties
/out/
Thumbs.db
atlassian-ide-plugin.xml
bin/
build/
captures/
cmake-build-*/
com_crashlytics_export_strings.xml
crashlytics-build.properties
crashlytics.properties
ehthumbs.db
fabric.properties
gen-external-apklibs
gen/
gradle/
gradlew
hs_err_pid*
local.properties
obj/
out/
